* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main {
  background-color: #1d2437;
  background-image: url('../images/bg.png');
  background-size: cover;
}

.container {
  max-width: 1070px;
  margin: auto;
  color: white;
}

header {
  padding-top: 45px;
}

.hero-area {
  display: flex;
}

.hero-area .left-side {
  flex: 1;
  margin: 80px 0;
}

.hero-area .left-side h1 {
  font-size: 42px;
  line-height: 50px;
  font-size: 700;
  margin: 0 0 20px 0;
}

.hero-area .left-side p {
  color: #999;
  font-size: 16px;
  line-height: 22px;
  font-size: 400;
  margin-bottom: 25px;
}

.hero-area .left-side .form {
  margin-bottom: 25px;
}

.hero-area .left-side .form input {
  width: 290px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  color: white;
  font-size: 14px;
  padding: 0 10px;
}

.hero-area .left-side .form button {
  background: #0071b7;
  height: 40px;
  margin-left: 10px;
  padding: 0 25px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.hero-area .left-side .form button:hover {
  opacity: 0.8;
}

.hero-area .left-side .techs img {
  margin-right: 10px;
}

.hero-area .right-side {
  flex: 1;
  background-image: url(../images/hero.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

/*********** SECTION INFO ***********/

.info {
  height: 120px;
  border-bottom: 2px solid #eaeef1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info .info-text {
  font-size: 20px;
  font-weight: 700;
  color: #c2c8cb;
  margin-right: 20px;
}

.info .info-circle {
  margin-right: 20px;
  width: 6px;
  height: 6px;
  background-color: #c2c8cb;
  border-radius: 50%;
}

/************* SECTION DUVIDAS************/

.duvidas-container {
  margin: auto;
  max-width: 900px;
  padding: 80px 20px;
}

.item {
  border-left: 3px solid #0071b7;
  display: flex;
}

.circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #0071b7;
  margin-left: -10px;
}

.item-text {
  margin-left: 60px;
  flex: 1;
}

.item-text h2 {
  font-weight: 500;
  font-size: 32px;
  color: #000;
  margin-top: -10px;
}

.item-text p {
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 23px;
  margin: 30px 0 70px 0;
}

.item:last-child {
  border-left: 3px solid transparent;
}

.item:last-child p {
  margin-bottom: 0;
}

/*SECTION CTA*/

.call-to-action {
  background-color: #1d2437;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.cta-container {
  margin: auto;
  max-width: 760px;
  display: flex;
  padding: 120px 0;
  align-items: center;
}

.cta-left {
  flex: 1;
}

.cta-left h2 {
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.cta-left p {
  color: #999;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 25px;
}

.cta-right {
  flex: 1;
}

.cta-right form input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  color: white;
  font-size: 14px;
  padding: 0 10px;
}

.cta-right form button {
  background: #0071b7;
  height: 45px;
  margin-top: 25px;
  width: 100%;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.cta-right form button:hover {
  opacity: 0.8;
}

/**********FOOTER***********/

footer {
  background: #1d2437;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
}

footer .footer-left {
  width: 95px;
  height: auto;
}

footer .footer-right {
  font-size: 16px;
  color: #999;
  text-align: right;
  line-height: 25px;
}

footer .footer-right a {
  color: #999;
  text-decoration: none;
}

footer .footer-right a:hover {
  text-decoration: underline;
}

/*******RESPONSIVIDADE******/

@media (max-width: 1060px) {
  .main .container {
    padding: 0 20px;
  }
  footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 900px) {
  .hero-area {
    flex-direction: column-reverse;
  }
  .hero-area .right-side {
    height: 700px;
    flex: none;
    background-size: auto 100%;
    background-position-x: center;
  }
  .hero-area .right-side .right-side-linear {
    width: 100%;
    height: 101%;
    background: linear-gradient(
      360deg,
      #1d2437 8.92%,
      rgba(29, 36, 55, 0) 65.85%
    );
  }
  .hero-area .left-side {
    margin-top: 0;
    text-align: center;
  }
  .hero-area .left-side .form input {
    width: 100%;
    margin-bottom: 20px;
  }
  .hero-area .left-side .form button {
    width: 100%;
    margin-left: 0;
  }
  .info {
    display: none;
  }
  .duvidas .item {
    margin: 0 40px;
  }
  .duvidas .item-text {
    margin-left: 40px;
  }
  .call-to-action .cta-container {
    flex-direction: column;
  }
  .call-to-action .cta-container .cta-left {
    text-align: center;
    margin-bottom: 30px;
  }
  .call-to-action .cta-container .cta-right {
    width: 100%;
    padding: 0 20px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .footer-left {
    margin-bottom: 25px;
  }
  footer .footer-right {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .hero-area .right-side {
    height: 400px;
  }
  .hero-area .left-side h1 {
    font-size: 26px;
    line-height: 30px;
  }
  .hero-area .left-side p {
    font-size: 14px;
    line-height: 16px;
  }
  .item-text h2 {
    font-size: 26px;
    margin-top: -10px;
  }

  .item-text p {
    font-size: 14px;
    line-height: 18px;
  }
  .cta-left h2 {
    font-size: 26px;
  }

  .cta-left p {
    font-size: 14px;
    line-height: 18px;
    padding: 0 20px;
  }
  footer .footer-right {
    font-size: 14px;
  }
}
